<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
  <tr>
    <td style="padding: 0 30px 20px 30px;">
      <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="background-color: {{bgColor}}; border-left: 4px solid {{borderColor}}; border-radius: 4px;">
        <tr>
          <td style="padding: 16px; color: {{textColor}}; font-size: 14px; line-height: 1.5;">
            {{{message}}}
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
