<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
  <tr>
    <td style="padding: {{height}}px 30px 0;">
      <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
        <tr>
          <td style="border-top: 1px solid {{color}}; font-size: 0; line-height: 0;">
            &nbsp;
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
