<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="background-color: #ffffff;">
  <tr>
    <td style="padding: 20px 30px; text-align: center; border-bottom: 1px solid #eeeeee;">
      {{#if logoUrl}}
        <img src="{{logoUrl}}" alt="{{companyName}}" width="150" style="display: block; margin: 0 auto; border: 0;" />
      {{else}}
        <h1 style="margin: 0; color: #333333; font-size: 24px; font-weight: bold;">{{companyName}}</h1>
      {{/if}}
    </td>
  </tr>
</table>
